body {
  background: #fafafa;
  touch-action: none;
}
body .weui-tab .weui-tab__bd #tab1 #geoPage,
body .weui-tab .weui-tab__bd #tab1 #markPage {
  position: relative;
}
body .weui-tab .weui-tab__bd #tab1 .address {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  font-size: 14px;
  padding: 0 15px;
  background-color: #fff;
}
body .weui-tab .weui-tab__bd #tab1 .address .address-left {
  display: flex;
  flex: 1;
  align-items: center;
}
body .weui-tab .weui-tab__bd #tab1 .address .address-left .iconfont {
  color: #ffac38;
  font-size: 24px;
  margin-right: 10px;
}
body .weui-tab .weui-tab__bd #tab1 .address .address-right .trimBtn {
  color: #aaa;
}
body .weui-tab .weui-tab__bd #tab1 .user {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  padding: 0 15px;
  background-color: #fff;
}
body .weui-tab .weui-tab__bd #tab1 .user .content {
  display: flex;
  align-items: center;
  width: 100%;
}
body .weui-tab .weui-tab__bd #tab1 .user .content .label {
  font-size: 14px;
  color: #333333;
  width: 70px;
}
body .weui-tab .weui-tab__bd #tab1 .user .content .input {
  line-height: 60px;
  width: 90%;
  background: url(../img/book.jpg) no-repeat right;
  font-size: 14px;
}
body .weui-tab .weui-tab__bd #tab1 .user .content .input:focus {
  border: none;
  outline: none;
}
body .weui-tab .weui-tab__bd #tab1 .signIn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: calc(100% - 354px);
}
body .weui-tab .weui-tab__bd #tab1 .signIn-box .signIn-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 120px;
  border-radius: 60px;
  color: #fff;
  text-align: center;
  background: linear-gradient(#ffb957, #ffac38);
  box-shadow: 0px 3px 6px rgba(255, 187, 92, 0.75);
  margin: auto;
}
body .weui-tab .weui-tab__bd #tab1 .signIn-box .signIn-btn.active {
  background: linear-gradient(#70c4f4, #63a2e4);
  box-shadow: 0px 3px 6px rgba(99, 162, 228, 0.75);
}
body .weui-tab .weui-tab__bd #tab2 {
  margin-bottom: 54px;
}
body .weui-tab .weui-tab__bd #tab2 .container {
  bottom: 0;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel {
  position: fixed;
  width: 100%;
  z-index: 520;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel .weui-panel__bd .weui-media-box {
  padding: 15px 15px;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel .weui-panel__bd .weui-media-box .weui-media-box__hd {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel .weui-panel__bd .weui-media-box .weui-media-box__bd .weui-media-box__title {
  font-size: 15px;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel .weui-panel__bd .weui-media-box .weui-media-box__ft {
  width: 60%;
  color: #666;
  line-height: 40px;
  font-size: 13px;
  padding: 0;
  padding-right: 20px;
  text-align: right;
  background: url(../img/xiajiantou.jpg) no-repeat right;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel .weui-panel__bd .weui-media-box .gray {
  color: #c7c7d1;
  font-size: 16px;
  line-height: 16px;
  display: inline-block;
  vertical-align: middle;
}
body .weui-tab .weui-tab__bd #tab2 .container .weui-panel .weui-panel__bd .line {
  width: 100%;
  height: 1px;
  background: #ededed;
  display: flex;
}
body .weui-tab .weui-tab__bd #tab2 .container .content {
  margin: 74px 0 0 0;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline {
  padding: 15px 15px 0 15px;
  border-bottom: 1px solid #f6f6f6;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline .date {
  float: left;
  width: 24%;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline .date p {
  font-size: 13px;
  color: #666;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline ul {
  width: 76%;
  float: right;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline ul li .timeline-item-color,
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline ul li .timeline-item-tail {
  background-color: #fcb058;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline ul li .timeline-item-content h4 {
  float: left;
  color: #333;
  font-size: 14px;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline ul li .timeline-item-content span {
  margin-left: 12px;
  color: #666;
  font-size: 12px;
  line-height: 22px;
}
body .weui-tab .weui-tab__bd #tab2 .container .content .timeline ul li .timeline-item-content p {
  color: #999;
  font-size: 13px;
}
body .weui-tabbar {
  position: fixed;
  background: #fff;
  border-top: 1px solid #ededed;
  z-index: 50;
}
body .weui-tabbar .weui-tabbar__item {
  padding: 8px 0 0 0;
}
body .weui-tabbar .weui-tabbar__item .weui-tabbar__icon {
  width: 24px;
  height: 24px;
}
body .weui-tabbar .weui-tabbar__item .weui-tabbar__icon i {
  color: #C7C7D1;
  font-size: 24px;
  line-height: 24px;
}
body .weui-tabbar .weui-tabbar__item .weui-tabbar__label {
  font-size: 10px;
  color: #333;
}
body .weui-tabbar .weui-bar__item--on .weui-tabbar__icon i {
  color: #fcb058;
}
body .weui-tabbar .weui-bar__item--on .weui-tabbar__label {
  color: #fcb058;
}
body .weui-media-box:before {
  right: 15px;
  left: 59px;
}
body .weui-tabbar:before {
  border: none;
}
body .weui-picker-container,
body .weui-picker-overlay {
  bottom: 0;
}
body .toolbar .picker-button {
  color: #fcb058;
}
body .weui-picker-modal .picker-item {
  font-size: 16px;
}
body .weui-loadmore {
  margin-bottom: 20px;
}
body .timeline-item:last-child .timeline-item-tail {
  display: none;
}
body #geoPage {
  display: none;
}
body .timeline-item-content h4 {
  display: contents;
}

#markPage #page_container {
  display: none !important;
}

.fullBox[data-full="trim"] {
  display: flex;
  flex-direction: column;
}
.fullBox[data-full="trim"] .fullModal {
  height: 100%;
  overflow: scroll;
}
.fullBox[data-full="trim"] .fullModal .address-trim .address-trim-list {
  font-size: 14px;
  padding: 15px;
  border-bottom: 1px solid #ddd;
  color: #333;
}
.fullBox[data-full="trim"] .fullModal .address-trim .address-trim-list.active {
  color: #fcb058;
}
.fullBox[data-full="trim"] .btn-box {
  padding: 10px 0;
  width: 100%;
  background-color: #fff;
  border-top: 1px solid #eee;
  box-shadow: 1px 0px 3px rgba(0, 0, 0, 0.1);
}
.fullBox[data-full="trim"] .btn-box .weui-btn.weui-btn_primary.close-full {
  width: 80%;
}
